{# default reset password form #}
{% extends "multiuser_home_base.html" %}

{% block multiuser_main %}
    <p>Enter your e-mail address to receive password reset instructions.</p>
<form action="/reset_password/" method="post">
    {% csrf_token %}
    <table border="0">
        <tr>
            <td><strong><label>E-mail Address</label></strong></td>
            <td><input id="multiuser_reset_email_field" name="email_address"></td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input id="multiuser_reset_submit" type="submit"</td>
        </tr>
    </table>
</form>
{% endblock %}

{% block multiuser_menu %}
    <ul>
    <li><a href="/create_user/">Create new account</a></li>
    <li><a href="/">Back</a></li>
    </ul>
{% endblock %}