<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ multi_user_main_title }}</title>
    <link rel="stylesheet" href="{% static "css/multiuser_base.css" %}" />
    {# NOTE: you may adjust the theme using theme rollery on jqueryui.com and replacing contents of static/jquery #}
    <link rel="stylesheet" href="{% static "jquery/css/jquery-ui.css" %}" />
    {# similarly you may change the jQuery version in the same manner #}
    <script src="{% static "jquery/js/jquery.js" %}"></script>
    <script src="{% static "jquery/js/jquery-ui.js" %}"></script>
</head>
<body>
    <div id="main">
        <div id="multiuser_main">
            <h1>{{ multi_user_main_title }}</h1>
            {% block multiuser_main %}
            <p>Create a user account or login.</p>
            {% endblock %}
        </div>
        <div id="multiuser_login_menu">
            {% block multiuser_menu %}{% endblock %}
        </div>
    </div>
</body>
</html>